<div class="container-wrapper">
    <div class="container">
        <div class="row margin-bottom-20">
            <div class="col-md-12 center">
                <h2>Features</h2>
            </div><!-- end col -->
        </div><!-- end row -->
        <div class="row">
            <div class="col-md-4 center">
                <span class="fa fa-suitcase fa-5x blue"></span>
                <h3 class="margin-top-10">What's included</h3>
                <p>We include HTML, CSS, LESS, Javascript, Icons and Fonts ready and waiting for you.</p>
                <p><a href="elements.html" class="btn btn-lg btn-purple">Learn More</a></p>
            </div><!-- end col -->
            <div class="col-md-4 center">
                <span class="fa fa-gears fa-5x"></span>
                <h3 class="margin-top-10">Lots of features</h3>
                <p>Zion has loads of elements, form inputs, buttons, and other great user interface features.</p>
                <p><a href="features.html" class="btn btn-lg btn-primary">Take Tour</a></p>
            </div><!-- end col -->
            <div class="col-md-4 center">
                <span class="fa fa-heart fa-5x red"></span>
                <h3 class="margin-top-10">Coded with care</h3>
                <p>Plenty of TLC has gone into Zion. We appreciate you taking the time to look at our template!</p>
                <p><a href="https://wrapbootstrap.com/theme/zion-responsive-template-WB0522F10" class="btn btn-lg btn-success">Buy Now</a></p>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end container-wrapper -->

<div class="clear"></div>
