<div id="features" class="container-wrapper">
    <div class="container">
        <div class="row margin-bottom-20">
            <div class="col-md-12 center">
                <h2>Features</h2>
            </div><!-- end col -->
        </div><!-- end row -->
        <div class="row">
            <div class="col-md-4 center">
                <span class="fa fa-book fa-5x blue"></span>
                <h3 class="margin-top-10">For Stylists</h3>
                <p>Our patented technology will bring the clients right to your chair.</p>
                <p><a href="elements.html" class="btn btn-lg btn-purple">Become an early adopter</a></p>
            </div><!-- end col -->
            <div class="col-md-4 center">
                <span class="fa fa-money fa-5x"></span>
                <h3 class="margin-top-10">For Salons</h3>
                <p>More happy clients in your stylist's chairs, means more revenue.</p>
                <p><a href="features.html" class="btn btn-lg btn-primary">Become an early adopter</a></p>
            </div><!-- end col -->
            <div class="col-md-4 center">
                <span class="fa fa-heart fa-5x red"></span>
                <h3 class="margin-top-10">Coded with care</h3>
                <p>Get Style.co was coded with care to create a secure and beatiful experience.</p>
                <p><a href="https://wrapbootstrap.com/theme/zion-responsive-template-WB0522F10" class="btn btn-lg btn-success">Learn more</a></p>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end container-wrapper -->

<div class="clear"></div>
