<div class="container">
    <div class="row">
        <section class="col-md-5">
            <h2>@ViewBag.Heading[0]</h2>
            <p>
                @ViewBag.Content[0]
            </p>
        </section>
        <section class="col-md-5 col-md-offset-2">
            <h2>@ViewBag.Heading[1]</h2>
            <p>
                @ViewBag.Content[1]
            </p>
        </section>
    </div>
</div>
