@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <div class="nav-user pull-right">
        <ul class="nav nav-user-options">
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                <li class="dropdown user">
                    <a href="#none" data-toggle="dropdown">
                        <img src="~/img/avatar.jpg" alt="" />@User.Identity.GetUserName() <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li><span class="icon-user"></span>@Html.ActionLink(" My Profile", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "My Account" })</li>
                        <li><a href="#none"><span class="icon-map-marker"></span> My Location</a></li>
                        <li><a href="#none"><span class="icon-cog"></span> Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()"><span class="icon-power-off"></span> Log Out</a></li>
                    </ul>
                </li>
            }
        </ul>
    </div>
}
else
{
    <div class="nav-user pull-right">
        <ul class="nav nav-user-options">
            <li class="signup">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-purple" })</li>
            <li class="login">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-light" })</li>
        </ul>
    </div><!-- end nav-user -->
}
