<div class="container-wrapper" id="Team">
    <section class="container">
        <div class="row margin-bottom-20">
            <div class="col-md-12 center">
                <h2>Our Team</h2>
            </div> 
        </div>
        <div class="row">
            <div class="col-md-3 center" id="Robert">
                <p><img class="width-200" src="~/img/profiles/rob.jpg" /></p>
                <h3>Rob Landers</h3>
                <p>Rob has been programming since he was nine years old and has a couple of decades of commercial experience. Contact him for more information.</p>
                <p class="margin-0">
                    <a href="mailto:Robert@getstyle.co" class="btn btn-sm btn-primary">
                        <span class="fa fa-envelope"></span>Email Rob
                    </a>
                    <a href="https://twitter.com/withinboredom" class="btn btn-sm btn-info">
                        <span class="fa fa-twitter"></span>@@withinboredom
                    </a>
                </p>
            </div>
            <div class="col-md-3 center" id="Keesha">
                <p><img class="width-200" src="~/img/profiles/keesha.jpg" /></p>
                <h3>Keesha Landers</h3>
                <p>Keesha has been a hair stylist for ten years and did hair for a Betsy Johnson fashion show, among other super awesome things. Contact her for more information.</p>
                <p class="margin-0">
                    <a href="mailto:keesha@getstyle.co" class="btn btn-sm btn-primary">
                        <span class="fa fa-envelope"></span>Email Rob
                    </a>
                    <a href="https://www.facebook.com/keesha.chambers.94" class="btn btn-sm btn-info">
                        <span class="fa fa-facebook"></span>@@withinboredom
                    </a>
                </p>
            </div>
        </div>
    </section>
</div>
