<div class="container-wrapper">
    <section class="container">
        <div class="row margin-bottom-20">
            <div class="col-md-12 center">
                <h2>Our Team</h2>
            </div> 
        </div>
        <div class="row">
            <div class="col-md-3 center">
                <p><img class="width-200" src="~/img/wave.png" /></p>
                <h3>Rob Landers</h3>
                <p>Robert is blah</p>
                <p class="margin-0">
                    <a href="#none" class="btn btn-sm btn-primary">
                        <span class="fa fa-envelope"></span>Email Rob
                    </a>
                    <a href="#none" class="btn btn-sm btn-info">
                        <span class="fa fa-twitter"></span>@@withinboredom
                    </a>
                </p>
            </div>
        </div>
    </section>
</div>
