<div class="container-wrapper container-top container-wrapper-@Html.Raw(ViewBag.TopColor)">
    <div class="container container-top">
        <div class="row">
            <div class="col-md-12 center">
                <h1>@ViewBag.Title</h1>
            </div>
        </div>
    </div>
</div>
